@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.css-ymt5it-MuiTypography-root-MuiTimelineOppositeContent-root {
  flex: 0 0 auto !important;
  -webkit-box-flex: 0 m !important;
}
.css-1xktgmm {
  flex: 0 0 auto !important;
}
@layer base {
  html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    @apply font-[Poppins];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
